.wrapper {
    max-width: 610px;
    margin: 0 auto;
}
.wrapper-wide {
    max-width: 800px;
    margin: 0 auto;
}
.break {
    display: block;
}
.right {
    float: right;
}
.left {
    float: left;
}
.overflow {
    overflow: hidden;
}
body:before {
    content: "";
    width: 100%;
    height: 15px;
    display: block;
    background: #2a61d5;
    margin-bottom: 20px;
}
nav {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #b9b9b9;
    text-align: center;
    display: none;
}
nav ul {
    padding: 0;
}
.navigation li {
    display: inline-block;
    padding: 0 4px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    margin: 0 15px;
    width: 92px;
    font-size: 14px;
    color: #638b34;
}
.navigation li div {
    display: inline-block;
    padding: 5px 14px;
    border-radius: 30px;
    margin-bottom: 5px;

    background: white;
    color: #638b34;
    border: 1px solid #83b443;
}
.navigation li span {
    display: block;
}
.navigation .selected {
    background: white;
    color: black;
}

.navigation .selected div {
    background: #83b443;
    color: white;
}

.navigation li:hover {
    color: #4f94ff;
}
.navigation .after,
.navigation .after:hover {
    color: #8c8c8c;
    cursor: default;
}
.navigation .after div,
.navigation .after:hover div {
    background: white;
    color: #8c8c8c;
    border: 1px solid #b9b9b9;
}

h2 {
    margin-top: 40px;
}

@media (max-width: 700px) {
    h1 {
        margin-top: 30px;
    }

    h2 {
        margin-top: 30px;
    }

    body:before {
        width: auto;
        margin: 0 -15px;
    }

    .navigation {
        padding: 0;
    }

    .navigation li {
        display: none;
        width: 100%;
        text-align: left;
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        pointer-events: none;
    }

    .navigation li.selected span {
        display: inline-block;
    }

    .navigation li.selected div {
        display: inline-block;
        background: white;
        color: black;
        border: none;
        padding-left: 0;
    }

    .navigation li.selected div:after {
        content: '/5';
    }

    .navigation li.selected {
        display: block;
    }
}
ul,
ol {
    margin: 0;
    padding: 15px;
}
.hidden {
    display: none;
}
.text-center {
    text-align: center;
}
.section-request label {
    display: block;
    margin-right: 10px;
    margin-bottom: 20px;
}
.section-info button {
    padding: 15px 47px;
    background-color: #83b443;
    box-shadow: 0 2px 0 #618630;
    width: 100%;
}
.section-info .colored {
    color: #1d1d1d;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 16px;
}
.section-info .left {
    width: 47%;
    margin: 1.5%;
}

.section-info img {
    margin: 11px 7px 4px 0;
    vertical-align: middle;
    height: 20px;
    opacity: 0.8;
}
.section-info h1 span {
    font-weight: 400;
}
.section-info .small {
    font-weight: 400;
    font-size: 15px;
}
.section-info .supported-by {
    max-width: 668px;
    font-weight: 400;
    font-size: 15px;
}
@media (max-width: 700px) {
    .section-info img {
        height: 17px;
    }
}
#generated {
    height: 194px;
    width: 100%;
    margin-top: 10px;
}
.ministry-address {
    width: 100%;
    height: 157px;
}
.section-residence button,
.section-whom button,
.section-how button {
    width: 500px;
    margin-bottom: 10px;
    text-align: left;
}
@media (max-width: 700px) {
    .section-residence button,
    .section-whom button,
    .section-how button {
        max-width: 100%;
    }
}
@media (max-width: 700px) {
    label {
        width: 100%;
        overflow: visible;
    }
    input {
        width: 100% !important;
    }
}
.select2-container--default .select2-selection--single {
    border-radius: 10px;
    height: 59px;
    border: 1px solid #dcdcdc;
    position: relative;
    top: -3px;
    background: #f8f8f8;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000000;
    line-height: 60px;
    font-weight: 400;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #797979;
}
@media (max-width: 700px) {
    .select2-container {
        width: 100% !important;
    }
    .select2-container--open .select2-dropdown {
        left: 15px;
    }
}
#clipboard-email,
#clipboard-request {
    cursor: pointer;
}
#clipboard-email:hover,
#clipboard-request:hover {
    opacity: 0.9;
}

.second-round {
    margin-top: 15px;
}
